spring:
  security:
    oauth2:
      client:
        registration:
          google:
            client-id: 188867089736-sa463uj75r7t2ijdd478obnid77nd4ds.apps.googleusercontent.com
            client-secret: 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
            client-name: Google
            scope:
              - openid
              - profile
              - email
            redirect-uri: "{baseUrl}/login/oauth2/code/{registrationId}"
        provider:
          google:
            authorization-uri: https://accounts.google.com/o/oauth2/v2/auth
            token-uri: https://www.googleapis.com/oauth2/v4/token
            user-info-uri: https://www.googleapis.com/oauth2/v3/userinfo
server:
  port: 9090